body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #be3144;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#tituloPag {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #d8d8d8;
    border: solid 1px rgba(128, 128, 128, 0.735);
    width: 300px;
    text-align: center;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #333;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4;
    font-size: 16px;
    cursor: pointer;
    margin-top: 12px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    display: block;
    padding-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {

    header {
        padding: 10px;
    }

    #tituloPag {
        font-size: 28px;
    }

    form {
        width: 90%;
        margin-top: 60px;
    }

    #logo img {
        height: 40px;
    }
}

@media (max-width: 480px) {

    #tituloPag {
        font-size: 24px;
    }

    form {
        width: 95%;
        padding: 15px;
    }

    input[type="submit"] {
        padding: 12px;
        font-size: 14px;
    }

    a {
        font-size: 12px;
    }
}